<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mi Página</title>

	<link rel="stylesheet" th:href="@{/bootstrap-5.0.2/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/select2/dist/css/select2.min.css}">
	<link rel="stylesheet" th:href="@{/select2/dist/css/select2-bootstrap-5-theme.min.css}">
	<link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/registro/style.css}">
	<link rel="stylesheet" th:href="@{/css/public/headers.css}">
	<link rel="stylesheet" th:href="@{/css/public/form-validation.css}">
	<link rel="stylesheet" th:href="@{/css/public/sweetalert2.min.css}">
	<style>
		label {
			font-weight: 500;
		}

		a {
			text-decoration: auto
		}

		.select2-container.select2-disabled .select2-selection {
			background-color: #e9ecef;
			cursor: not-allowed;
			pointer-events: none;
			opacity: 0.7;
		}
	</style>
</head>

<body>
	<div th:insert="~{/inset/header.html::header-app}"></div>

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
		</symbol>
		<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
		</symbol>
		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
		</symbol>
	</svg>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Gestionar</li>

			<li class="breadcrumb-item">
				<a href="/gestion3/dosimetros">Dosimetros</a>
			</li>

			<li class="breadcrumb-item" aria-current="page"><a th:href="'/gestion3/dosimetros/' + ${empresa.id_empresa}"
					th:text="${empresa.codigo_interno_empresa} + ' - ' + ${empresa.razon_social_empresa}"></a></li>

			<li class="breadcrumb-item" aria-current="page">
				<a th:href="${id_dosimetro != null} ? '/gestion3/dosimetro/' + ${empresa.id_empresa} + '/' + ${id_dosimetro} 
														  : '/gestion3/dosimetro/' + ${empresa.id_empresa}" th:text="${id_dosimetro != null} ? 'Actualizar dosimetro - ' + ${dosimetro.codigo_dosimetro} 
														 : 'Nuevo dosimetro'">
				</a>
			</li>
		</ol>
	</nav>
	<section>
		<div class="container">

			<div class="toast-container position-absolute top-5 end-0 p-3">
				<div th:if="${param.exito}" class="toast text-white bg-success" role="alert" aria-live="assertive"
					aria-atomic="true">
					<div class="toast-header">
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
							<use xlink:href="#check-circle-fill" />
						</svg>
						<strong class="me-auto">Éxito</strong>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						Información del dosimetro guardada exitosamente
					</div>
				</div>

				<div th:if="${param.error}" class="toast text-white bg-danger" role="alert" aria-live="assertive"
					aria-atomic="true">
					<div class="toast-header">
						<i class="bi bi-x-circle" style="font-size: xx-large;"></i>
						<strong class="me-auto">Error</strong>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						Hubo un error al guardar la información del dosimetro
					</div>
				</div>
			</div>

			<form class="needs-validation" novalidate
				th:action="${id_dosimetro != null} ? @{/gestion3/update/{id_empresa}(id_empresa=${id_empresa}, id_dosimetro=${id_dosimetro})} : @{/gestion3/save/{id}(id=${id_empresa})}"
				method="post">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-md-8 div-formulario">
						<div class="row">
							<div class="col-sm-8">
								<h2 class="mb-3"
									th:text="${id_dosimetro != null} ? 'Actualizar de dosimetro' : 'Crear dosimetro'">
								</h2>
							</div>
							<div class="col-md-4">
								<button class="w-100 btn btn-primary" type="submit"
									th:text="${id_dosimetro != null} ? 'Actualizar' : 'Guardar'"></button>
							</div>
						</div>
						<input type="hidden" id="dosimetro" th:value="${id_dosimetro}">
						<div class="row g-3">
							
							<h5 th:if="${id_dosimetro == null}">Buscar trabajador</h5>
							<div class="col-sm-4" th:if="${id_dosimetro == null}">
								<label for="firstName" class="form-label">Cedula </label>
								<input type="number" class="form-control form-trabajador" id="cedula_trabajador"
									name="cedula_trabajador" placeholder="" maxlength="4">
								<div class="invalid-feedback">
									Se requiere una cedula valida.
								</div>
								<div class="invalid-id" style="display: none; font-weight: bold; color: brown;">
									Esta cedula ya se encuentra registrada, ingrese una nueva.
								</div>
							</div>
							<div class="col-sm-6" th:if="${id_dosimetro == null}">
								<label for="firstName" class="form-label">Nombres</label>
								<input type="text" class="form-control form-trabajador" id="nombre_trabajador"
									name="nombre_trabajador" placeholder="">
								<div class="invalid-feedback">
									Se requiere un nombre valido.
								</div>
							</div>
							<div class="col-sm-2" style="display: flex; align-items: flex-end;" th:if="${id_dosimetro == null}">
								<label for="" class="form-label"></label>
								<button type="button" class="btn btn-primary w-100" id="btnSearchTrabajador"><i
										class="bi bi-search"></i></button>
								<div class="invalid-feedback"></div>
							</div>

							<div class="clo-md-12">
								<div class="invalid-trabajador" style="display: none; font-weight: bold; color: brown;">
									Debe diligenciar por lo menos un campo para la busqueda de trabajadores.
								</div>
							</div>

							<div class="col-md-12">
								<label for="country" class="form-label">Trabajador</label>
								<input type="hidden" id="trabajador_select">
								<select id="id_trabajador" name="id_trabajador" class="form-select select2"
									data-placeholder="Tiene que filtra antes de seleccionar" required>
									<option value="" hidden>Tiene que filtra antes de seleccionar</option>
									<option th:if="${trabajador != null}" th:value="${trabajador.id_trabajador}"
										th:text="${trabajador.cedula_trabajador} + ' - ' + ${trabajador.nombre_trabajador} + ' ' + ${trabajador.primer_apellido_trabajador}"
										hidden selected>
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere un trabajador valido.
								</div>
							</div>

							<div class="col-sm-4">
								<label for="lastName" class="form-label">Codigo dosimetro</label>
								<input type="number" class="form-control" name="codigo_dosimetro" id="codigo_dosimetro"
									placeholder="" required
									th:value="${id_dosimetro != null} ? ${dosimetro.codigo_dosimetro} : null">
								<div class="invalid-feedback">
									Se requiere una fecha valida.
								</div>
								<div class="invalid-codigo" style="display: none; font-weight: bold; color: brown;">
									Este código ya se encuentra registrado, ingrese uno nuevo.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Tipo de dosimetro</label>
								<input type="hidden" id="tipo_dosimetro_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.tipo_dosimetro.id_tipo_dosimetro} : null">
								<select id="tipo_dosimetro" name="tipo_dosimetro" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="tipo : ${tiposDosimetro}" th:value="${tipo.id_tipo_dosimetro}"
										th:text="${tipo.nombre} + ' - ' + ${tipo.descripcion}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere un tipo de dosimetro valido.
								</div>
							</div>


							<div class="col-md-4">
								<label for="country" class="form-label">Periodo de uso</label>
								<input type="hidden" id="periodo_uso_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.periodo_uso} : null">
								<input type="hidden" id="periodo_uso_disable"
									th:value="${id_dosimetro != null} ? ${contratosDosimetro} : null">
								<select id="periodo_uso" name="periodo_uso" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="30" hidden>30</option>
									<option value="60" th:text="60"></option>
									<option value="90" th:text="90"></option>
								</select>
								<div class="invalid-feedback">
									Se requiere un periodo de uso valido.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Ubicacion</label>
								<input type="hidden" id="ubicacion_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.ubicacion.id_ubicacion} : null">
								<select id="ubicacion" name="ubicacion" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion.id_ubicacion}"
										th:text="${ubicacion.codigo_ubicacion} + ' - ' + ${ubicacion.descripcion_ubicacion}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere una ubicacion valido.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Cargo</label>
								<input type="hidden" id="cargo_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.cargo.id_cargo} : null">
								<select id="cargo" name="cargo" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="cargo : ${cargos}" th:value="${cargo.id_cargo}"
										th:text="${cargo.codigo_cargo} + ' - ' + ${cargo.descripcion_cargo}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere un cargo valido.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Práctica</label>
								<input type="hidden" id="practica_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.practica.id_practica} : null">
								<select id="practica" name="practica" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="practica : ${practicas}" th:value="${practica.id_practica}"
										th:text="${practica.codigo_practica} + ' - ' + ${practica.descripcion_practica}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere una practica valido.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Radiación</label>
								<input type="hidden" id="radiacion_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.radiacion.id_radiacion} : null">
								<select id="radiacion" name="radiacion" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="radiacion : ${radiaciones}" th:value="${radiacion.id_radiacion}"
										th:text="${radiacion.codigo_radiacion} + ' - ' + ${radiacion.descripcion_radiacion}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere una radiación valido.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Ingeominas</label>
								<input type="hidden" id="ingeominas_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.ingeominas.id_geominas} : null">
								<select id="ingeominas" name="ingeominas" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="geominas : ${ingeominas}" th:value="${geominas.id_geominas}"
										th:text="${geominas.codigo_geominas} + ' - ' + ${geominas.descripcion_geominas}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere una ingeomina valido.
								</div>
							</div>


							<div class="col-md-4">
								<label for="country" class="form-label">Estado</label>
								<input type="hidden" id="estado_dosimetro_select"
									th:value="${id_dosimetro != null} ? ${dosimetro.estado_dosimetro} : null">
								<select id="estado_dosimetro" name="estado_dosimetro" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="A" th:text="Activo" hidden></option>
									<option value="I" th:text="Inactivo"></option>
									<option value="P" th:text="Provisional"></option>
								</select>
								<div class="invalid-feedback">
									Se requiere un estado de dosimetro valido.
								</div>
							</div>

							<div class="col-md-12">

								<h5 class="mb-3">Uso del dosimetro</h5>
								<input type="hidden" id="destino_seleccionado"
									th:value="${id_dosimetro != null} ? ${dosimetro.destino_dosimetro} : null">
								<div class="my-3 row">
									<div class="form-check col-sm">
										<input id="activo" name="destino_dosimetro" type="radio"
											class="form-check-input destino_dosimetro" value="0" checked>
										<label class="form-check-label" for="credit">Trabajador</label>
									</div>
									<div class="form-check col-sm">
										<input id="inactivo" name="destino_dosimetro" type="radio"
											class="form-check-input destino_dosimetro" value="1" required>
										<label class="form-check-label" for="debit">Control</label>
									</div>
									<div class="form-check col-sm">
										<input id="inactivo" name="destino_dosimetro" type="radio"
											class="form-check-input destino_dosimetro" value="2" required>
										<label class="form-check-label" for="debit">Ambiental</label>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</form>
		</div>

	</section>

	<script th:src="@{/js/public/jquery.js}"></script>
	<script th:src="@{/select2/dist/js/select2.min.js}"></script>
	<script th:src="@{/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/public/form-validation.js}"></script>
	<script th:src="@{/js/public/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/dosimetro/validaciones.js}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('input[type=text]').forEach(node => node.addEventListener('keypress', e => {
				if (e.keyCode == 13) {
					e.preventDefault();
				}
			}))
		});
	</script>

</body>

</html>