<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mi Página</title>
	<link rel="stylesheet" th:href="@{/bootstrap-5.0.2/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/registro/style.css}">
	<link rel="stylesheet" th:href="@{/css/public/headers.css}">
	<link rel="stylesheet" th:href="@{/css/public/form-validation.css}">
	<link rel="stylesheet" th:href="@{/css/public/sweetalert2.min.css}">
</head>

<body>
	<div th:insert="~{/inset/header.html::header-app}"></div>

    

	<script th:src="@{/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/public/jquery.js}"></script>
	<script th:src="@{/js/public/form-validation.js}"></script>
	<script th:src="@{/js/public/sweetalert2.all.min.js}"></script>
</body>

</html>