<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mi Página</title>
	<link rel="stylesheet" th:href="@{/bootstrap-5.0.2/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/registro/style.css}">
	<link rel="stylesheet" th:href="@{/css/tablas/style.css}">
	<link rel="stylesheet" th:href="@{/css/public/headers.css}">
	<link rel="stylesheet" th:href="@{/css/public/form-validation.css}">
	<link rel="stylesheet" th:href="@{/css/public/sweetalert2.min.css}">
	<link rel="stylesheet" th:href="@{/datatable/dataTables.dataTables.css}">
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 10px;
			text-align: center;
		}

		tr {
			cursor: pointer;
			transition: background-color 0.2s;
		}

		tr:hover {
			background-color: #f1f1f1;
		}

		.selected {
			background-color: #4CAF50 !important;
			color: white;
		}
	</style>
</head>

<body>
	<div th:insert="~{/inset/header.html::header-app}" id="header"></div>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
		</symbol>
		<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
		</symbol>
		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
		</symbol>
	</svg>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Administrar</li>
			<li class="breadcrumb-item">Parametrización</li>
			<li class="breadcrumb-item" aria-current="page"><a
					href="/param/practicas">Practicas</a></li>
		</ol>
	</nav>
	<div class="container titulo-fijo" id="titulo">
		<div class="row">
			<div class="col-md-6">
				<h2>Practicas Registradas</h2>
			</div>
			<div class="col-md-2">
				<a class="btn btn-success w-100" href="" data-bs-toggle="modal" data-bs-target="#nuevoRegistro"
					th:if="${not user.roles.?[nombre == 'ADMIN'].isEmpty()}">
					<i class="bi bi-plus-square"></i> Nuevo
				</a>
			</div>
			<div class="col-md-2">
				<button class="btn btn-info w-100" id="btnEditar"
					th:if="${not user.roles.?[nombre == 'ADMIN'].isEmpty()}">
					<i class="bi bi-pencil"></i> Editar
				</button>
			</div>
			<div class="col-md-2">
				<button class="btn btn-danger w-100" id="btnEliminar"
					th:if="${not user.roles.?[nombre == 'ADMIN'].isEmpty()}">
					<i class="bi bi-trash"></i> Borrar
				</button>
			</div>
		</div>
	</div>

	<div class="container py-2 div-tabla">
		<div class="toast-container position-absolute top-5 end-0 p-3">
			<div th:if="${param.exito}" class="toast text-white bg-success" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<strong class="me-auto">Éxito</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Practica registrada exitosamente
				</div>
			</div>

			<div th:if="${param.error}" class="toast text-white bg-danger" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<i class="bi bi-x-circle" style="font-size: xx-large;"></i>
					<strong class="me-auto">Error</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Hubo un error al registrar la practica
				</div>
			</div>

			<div th:if="${param.exitoUpdate}" class="toast text-white bg-warning" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<strong class="me-auto">Éxito</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Practica actualizada exitosamente
				</div>
			</div>

			<div th:if="${param.errorUpdate}" class="toast text-white bg-danger" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<i class="bi bi-x-circle" style="font-size: xx-large;"></i>
					<strong class="me-auto">Error</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Hubo un error al actualizar la practica
				</div>
			</div>

			<div th:if="${param.exitoDelete}" class="toast text-white bg-success" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<i class="bi bi-check-circle-fill" style="font-size: xx-large;"></i>

					<strong class="me-auto">Éxito</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Practica eliminada exitosamente
				</div>
			</div>

			<div th:if="${param.errorDelete}" class="toast text-white bg-danger" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<i class="bi bi-x-circle" style="font-size: xx-large;"></i>
					<strong class="me-auto">Error</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Hubo un error al eliminar la practica
				</div>
			</div>

			<div th:if="${param.repetido}" class="toast text-white bg-warning" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
						<use xlink:href="#exclamation-triangle-fill" />
					</svg>
					<strong class="me-auto">Advertencia</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					El código de la practica ingresada ya existe, ingrese uno nuevo
				</div>
			</div>
		</div>

		<div id="valorSeleccionado">Selecciona una fila</div>
		<table class="table table-striped py-2" id="miTabla">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Descripcion</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th><input type="text" class="form-control" id="buscar" placeholder="" value="" required></th>
					<th><input type="text" class="form-control" id="buscar2" placeholder="" value="" required></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="practica : ${practicas}" th:data-valor="${practica.id_practica}">
					<td th:text="${practica.codigo_practica}"></td>
					<td th:text="${practica.descripcion_practica}"></td>
				</tr>
			</tbody>
		</table>

	</div>


	<!-- Modal -->
	<form th:action="@{/practica/save}" method="post">
		<div class="modal fade" id="nuevoRegistro" tabindex="-1" aria-labelledby="nuevoRegistroLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="nuevoRegistroLabel">Nuevo Practica</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<label for="username" class="form-label">Codigo de la practica</label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" name="codigo_practica" placeholder=""
										required>
								</div>
							</div>
							<div class="col-12">
								<label for="username" class="form-label">Descripción de la practica</label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" name="descripcion_practica" placeholder=""
										required>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success"><i class="bi bi-plus-square"></i> Crear
							practica</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Modal -->
	<form th:action="@{/practica/update}" method="post">
		<div class="modal fade" id="actualizarRegistro" tabindex="-1" aria-labelledby="actulizarRegistroLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="actulizarRegistroLabel">Actualizar Practica</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<input type="hidden" name="id_practica" id="id_practica">
							<div class="col-12">
								<label for="username" class="form-label">Codigo de la practica</label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" name="codigo_practica" id="codigo_practica"
										placeholder="" required>
								</div>
							</div>
							<div class="col-12">
								<label for="username" class="form-label">Descripción de la practica</label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" name="descripcion_practica"
										id="descripcion_practica" placeholder="" required>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success"><i class="bi bi-arrow-repeat"></i> Actualizar
							practica</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Modal -->
	<form th:action="@{/practica/delete}" method="post">
		<div class="modal fade" id="eliminarRegistro" tabindex="-1" aria-labelledby="eliminarRegistroLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarRegistroLabel">Eliminar Practica</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<input type="hidden" name="id_practica" class="id_practica">
							<h6>¿Esta seguro que quiere eliminar el registro (<span class="codigo"></span>)?</h6>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar
							practica</button>
					</div>
				</div>
			</div>
		</div>
	</form>


	<script th:src="@{/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/public/jquery.js}"></script>
	<script th:src="@{/datatable/dataTables.js}"></script>
	<script th:src="@{/js/public/form-validation.js}"></script>
	<script th:src="@{/js/public/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/param/filtroTabla.js}"></script>
	<script th:src="@{/js/param/editPractica.js}"></script>
	<script th:src="@{/js/public/title.js}" defer></script>

</body>

</html>