<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mi Página</title>

	<link rel="stylesheet" th:href="@{/bootstrap-5.0.2/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/select2/dist/css/select2.min.css}">
	<link rel="stylesheet" th:href="@{/select2/dist/css/select2-bootstrap-5-theme.min.css}">
	<link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/registro/style.css}">
	<link rel="stylesheet" th:href="@{/css/public/headers.css}">
	<link rel="stylesheet" th:href="@{/css/public/form-validation.css}">
	<link rel="stylesheet" th:href="@{/css/public/sweetalert2.min.css}">
	<style>
		label {
			font-weight: 500;
		}
	</style>
</head>

<body>
	<div th:insert="~{/inset/header.html::header-app}"></div>

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
		</symbol>
		<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
		</symbol>
		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
		</symbol>
	</svg>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Gestionar</li>
			<li class="breadcrumb-item" aria-current="page"><a href="/gestion2/trabajadores">Trabajadores</a></li>
			<li class="breadcrumb-item" aria-current="page">
				<a th:href="${trabajador.id_trabajador != null} ? '/gestion2/trabajador/' + ${trabajador.id_trabajador} : '/gestion2/trabajador'" 
				th:text="${trabajador.id_trabajador != null} ? ${trabajador.nombre_trabajador} : 'Nuevo Trabajador'"></a>
			</li>
		</ol>
	</nav>
	<section class="py-2">
		<div class="container mt-2">

			<div class="toast-container position-absolute top-5 end-0 p-3">
				
			</div>

			<form class="needs-validation" novalidate
				th:action="${trabajador.id_trabajador != null} ? @{/gestion2/update/{id}(id=${trabajador.id_trabajador})} : @{/gestion2/save}"
				method="post">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-md-8 div-formulario">
						<div class="row">
							<div class="col-sm-8">
								<h2 class="mb-3"
									th:text="${trabajador.id_trabajador != null} ? 'Actualizar de trabajador' : 'Crear de trabajador'">
								</h2>
							</div>
							<div class="col-md-4">
								<button class="w-100 btn btn-primary" type="submit"
									th:text="${trabajador.id_trabajador != null} ? 'Actualizar' : 'Guardar'"></button>
							</div>

						</div>

						<div class="row g-3">

							<div class="col-sm-4">
								<input type="hidden" id="trabajador" th:value="${trabajador.id_trabajador}" />
								<label for="firstName" class="form-label">
									Cedula
									<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
									style="margin: 0; padding: 0; margin-top: -5px;"
										data-bs-placement="top"
										title='Cédula de Extranjería - Agregar "E" al final del número'
										aria-label="Información sobre Cédula de Extranjería">
										<i class="bi bi-info-circle"></i>
									</button>
								</label>
								<input type="number" class="form-control" id="cedula_trabajador"
									name="cedula_trabajador" placeholder="" th:value="${trabajador.cedula_trabajador}"
									required maxlength="4">
								<div class="invalid-feedback">
									Se requiere una cedula valida.
								</div>
								<div class="invalid-codigo" style="display: none; font-weight: bold; color: brown;">
									Esta cedula ya se encuentra registrada, ingrese una nueva.
								</div>
							</div>
							<div class="col-sm-8">
								<label for="firstName" class="form-label">Nombres</label>
								<input type="text" class="form-control" id="nombre_trabajador" name="nombre_trabajador"
									placeholder="" th:value="${trabajador.nombre_trabajador}" required>
								<div class="invalid-feedback">
									Se requiere un nombre valido.
								</div>
							</div>
							<div class="col-sm-4">
								<label for="firstName" class="form-label">Primer apellido</label>
								<input type="text" class="form-control" id="primer_apellido_trabajador"
									th:value="${trabajador.primer_apellido_trabajador}"
									name="primer_apellido_trabajador" placeholder="" required>
								<div class="invalid-feedback">
									Se requiere un apellido valido.
								</div>
							</div>
							<div class="col-sm-4">
								<label for="firstName" class="form-label">Segundo apellido</label>
								<input type="text" class="form-control" name="segundo_apellido_trabajador"
									th:value="${trabajador.segundo_apellido_trabajador}" placeholder="">
								<div class="invalid-feedback">
									Se requiere un apellido valido.
								</div>
							</div>

							<div class="col-sm-4">
								<label for="lastName" class="form-label">Fecha de nacimiento</label>
								<input type="date" class="form-control" name="fecha_nacimiento_trabajador"
									th:value="${fecha_nacimiento}" placeholder="">
								<div class="invalid-feedback">
									Se requiere una fecha valida.
								</div>
							</div>

							<div class="col-md-4">
								<label for="country" class="form-label">Escolaridad</label>
								<input type="hidden" id="escolaridad_select"
									th:value="${trabajador.escolaridad_trabajador}">
								<select id="escolaridad" name="escolaridad_trabajador" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="esc : ${escolaridades}" th:value="${esc.id_escolaridad}"
										th:text="${esc.nombre_escolaridad}"></option>
								</select>
								<div class="invalid-feedback">
									Se requiere un escolaridad valido.
								</div>
							</div>

							<div class="col-md-8">
								<label for="country" class="form-label">Titulo</label>
								<input type="hidden" id="id_titulo_select" th:value="${trabajador.id_titulo}">
								<select id="id_titulo" name="id_titulo" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option th:each="titulo : ${titulos}" th:value="${titulo.id_titulo}"
										th:text="${titulo.codigo_titulo} + ' - ' + ${titulo.descripcion_titulo}">
									</option>
								</select>
								<div class="invalid-feedback">
									Se requiere un escolaridad valido.
								</div>
							</div>

							<div class="col-sm-6">
								<label for="lastName" class="form-label">Fecha registro ADS</label>
								<input type="date" class="form-control" name="fecha_inicio_trabajador" placeholder=""
									th:value="${fecha_inicio}" required>
								<div class="invalid-feedback">
									Se requiere una fecha valida.
								</div>
							</div>


							<div class="col-md-6">
								<label for="country" class="form-label">Género</label>
								<input type="hidden" id="genero_select" th:value="${trabajador.sexo_trabajador}">
								<select id="sexo_trabajador" name="sexo_trabajador" class="form-select select2"
									data-placeholder="Seleccione una opción" required>
									<option value="" hidden>Seleccione una opción</option>
									<option value="M" th:text="Masculino"></option>
									<option value="F" th:text="Femenino"></option>
									<option value="O" th:text="Otro"></option>
								</select>
								<div class="invalid-feedback">
									Se requiere un genero valido.
								</div>
							</div>


							<div class="col-md-6">
								<label for="zip" class="form-label">Email</label>
								<input type="email" class="form-control" id="mail_trabajador" name="mail_trabajador"
									placeholder="" th:value="${trabajador.mail_trabajador}">
								<div class="invalid-feedback">
									Se requiere un correo valido.
								</div>
							</div>

							<div class="col-md-6">
								<label for="zip" class="form-label">Celular</label>
								<input type="number" class="form-control" id="celular_trabajador"
									name="celular_trabajador" placeholder=""
									th:value="${trabajador.celular_trabajador}">
								<div class="invalid-feedback">
									Se requiere un numero de celular valido.
								</div>
							</div>

							<div class="col-md-12">
								<label for="cc-name" class="form-label">Observaciones</label>
								<textarea cols="3" class="form-control" id="observaciones_trabajador"
									name="observaciones_trabajador" th:text="${trabajador.observaciones_trabajador}"
									placeholder=""> </textarea>
								<div class="invalid-feedback">
									Se requiere una observacion valida
								</div>
							</div>

						</div>

					</div>

				</div>
			</form>
		</div>

	</section>

	<script th:src="@{/js/public/jquery.js}"></script>
	<script th:src="@{/select2/dist/js/select2.min.js}"></script>
	<script th:src="@{/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/public/form-validation.js}"></script>
	<script th:src="@{/js/public/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/gestionar/trabajador.js}"></script>
	<script>
		// Inicializar todos los tooltips
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl);
		});
	</script>
</body>

</html>