.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.logo-header {
  height: 7vh;
}

/* Mostrar dropdowns al pasar el mouse */
.dropdown:hover>.dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropend:hover>.dropdown-menu {
  display: block;
  left: 100%;
  top: 0;
  margin-top: 0;
}

.text-drown-parametrizacion {
  font-size: 100%;
}